- name: 'saleor'

  type: 'python:3.8'

  variables:
      env:
          AUTO_UPDATES:
              saleor: 
                  version: '2.11.8'
                  upstream: 'mirumee/saleor'
              poetry:
                  version: '1.1.6'
                  latest: 'python-poetry/poetry'

  build: |
      set -e 

      # Get Poetry.
      POETRY_VERSION=$(echo $AUTO_UPDATES | jq -r '.poetry.version')
      curl -s https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py >> get-poetry.py
      python get-poetry.py --version $POETRY_VERSION

  web:
      commands:
          # Run a no-op process that uses no CPU resources, since this is a static site.
          start: sleep infinity

      locations:
          # This tells Nginx to serve from the base directory
          "/":
              root: "web"
              index:
                  - "index.html"